@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Bebas";
  src: url("../Assets/Fonts/BebasNeue/BebasNeueBold.ttf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  background: #1a1a1a;
}

.works-gallery {
  /* -ms-overflow-style: none;
  scrollbar-width: none; */

  transition: all 0.3s;
}

/* .works-gallery::-webkit-scrollbar {
  display: none;
} */

.service {
  position: relative;
  transition: all 0.5s;
}
.service:hover > svg {
  transition: all 0.5s;
  display: block;
}
.service::after {
  content: "";
  position: absolute;
  content: "";
  width: 0;
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: #161616;
  transition: all 0.3s;
}
.service:hover:after {
  width: 100%;
}

.slide-in {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: #066bb8;
  transform-origin: left;
}

.slide-out {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: #066bb8;
  transform-origin: right;
}
